body{
  background-color: #e8b923;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-container{
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* width: 100px; */
}
  .play-btn{
    border: 1px solid red;
    width: 100px;
    height: 100px;
  }
  .pause-btn{
    border: 1px solid red;
    width: 100px;
    height: 100px;
  }
  .vol-up-btn{
    border: 1px solid red;
    width: 100px;
    height: 100px;
  }
  .vol-down-btn{
    border: 1px solid red;
    width: 100px;
    height: 100px;
  }

.visualizer{
  border: 1px solid red;
  display: flex;

}
  #canvas{
    border: 1px solid red;
    width: 750px;
    height: 750px;
  }

.prof-links{
  border: 1px solid red;
  display: flex;
  width: 100%;
}
  .prof-links ul{
    border: 1px solid red;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
  }
    .prof-links ul li{
      border: 1px solid red;
    }
      img{
        height: 50px;
        width: 60px;
      }