body{
  background-color: #e8b923;
}

.player-container{
  border: 1px solid red;
}
  .player-play{
    border: 1px solid red;
  }
  .player-stop{
    border: 1px solid red;
  }

.visualizer{
  border: 1px solid red;
}
  #canvas{
    border: 1px solid red;
  }

.prof-links{
  border: 1px solid red;
  display: flex;
  width: 100%;
}
  .prof-links ul{
    border: 1px solid red;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
  }
    .prof-links ul li{
      border: 1px solid red;
    }
      img{
        height: 50px;
        width: 60px;
      }